.testimonials {
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
    
}
 .testimonial:hover{
    background-image: linear-gradient(75deg, #434948,#1dc0da);
    color: #fff !important;
    transition:  .1s  all ease-in-out !important;
}